.task {
  font-family: sans-serif;
  background: #c2f67e;
  color: white;

  width: 450px;  /* width: 100%; */
  min-height: 150px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

/* Форма добавления */
.form-of-add__title {
  width: 100%;
  margin: 0;
  padding: 5px 0px;
  background: white;
  color: black;
}

.form-add {
  /* border: 1px solid black; */
  width: 100%;
  margin: 0px;
  min-height: 25px;
  background: white;
}


.ShowServices {
  /* margin: 0px; */
  padding: 0px;
  background: white;
  color: black;
}

.service {
  display: flex;
  min-height: 25px;
  /* border: 1px solid black; */
  /* margin: 0px; */
  padding-bottom: 5px;
  padding-top: 5px;
}

.marker {
  background-image: url('../assets/точка.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 17px;
  height: 17px;
  padding: 0;
  margin-right: 15px;
  margin-left: 25px;
}

.serviceName {
  margin-right: 10px;
}

.servicePrice {
  margin-right: 10px;
}

.btnEdit {
  width: 25px;
  height: 25px;
  /* background-image: url('../assets/btnEdit.png');
  background-repeat: no-repeat; */
  font-size: 12px;
  background-position: center;
  background-size: contain;
  border: 1px solid black;
  cursor: pointer;
}

.btnDel {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  cursor: pointer;
}